body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("limoneees.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #222;
}

.container {
  background: rgba(255, 255, 255, 0.9); /* Caja semitransparente */
  padding: 20px;
  border-radius: 16px;
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
